# Copy this file to terraform.tfvars and fill in your values

aws_region             = "us-east-1"
name_prefix            = "lmi-v16"
hf_token               = "your-huggingface-token-here"
hf_model_id            = "Qwen/Qwen3-1.7B" # for loading from s3 use s://<bucket name with model weights>/<prefix>
container_version      = "0.34.0-lmi16.0.0-cu128"
instance_type          = "ml.g5.4xlarge"
initial_instance_count = 1
min_instance_count     = 1
max_instance_count     = 1
num_gpu                = 1

tags = {
  Project     = "LMI-v16"
  Environment = "dev"
  ManagedBy   = "Terraform"
}
