bedrock-agentcore
bedrock-agentcore-starter-toolkit==0.1.1
uv
langchain[aws]
langgraph
langsmith[otel]
duckduckgo-search 
langchain-community
opentelemetry-instrumentation-langchain
starlette
uvicorn
boto3
botocore
yfinance
pandas
numpy
requests
reportlab
matplotlib
seaborn
python-dateutil
pytz